
        @keyframes show
        {
			from 
			{               
				opacity: 0;
			} 
			to 
			{                    
				opacity: 100%;
			}
		}


        body
        {
            margin: 0;
            background-color: rgb(240,240,240);

        }
        header
        {
            height: 70px;
            background-color: white;
            margin: 0;
        }
        #user
        {
            float:right;
            padding: 5px;
        }
        .icon
        {
            height: 40px;
            width: 40px;
            margin: 5px;
            vertical-align: middle;
            object-fit: cover;
            border-radius: 50%;
        }
        .dropdown-button
        {
            cursor:pointer;
            padding: 5px;
            background-color: rgba(0,0,0,0);
            user-select: none;
        }
        .button
        {
            cursor:pointer;
            padding: 5px;
            background-color: rgba(0,0,0,0);
            user-select: none;
        }
        .button:hover
        {
            background-color: lightgrey;
        }
        .dropdown-menu
        {
            position: absolute;
            z-index: 1;
            background-color: white;
            border: 1px solid grey;
        }
        .hidden
        {
            visibility: hidden;
        }
        .visible
        {
            visibility:visible;
            animation: show 0.2s;
			animation-timing-function: ease-out;
        }
        

        
        #local-video
        {
            position: absolute;    
            height: 10vh;
            margin: 20px;
            z-index: 2;
            top: 0;
            right: 0;
        }
        #remote-video
        {
            position: relative;
            top: 50%;
            left: 50%;
            height: 100%;
            transform: translateX(-50%) translateY(-50%);
        }


        ul
        {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li
        {
            display: inline;
            cursor: pointer;
            padding:  5px;
        }
        li:hover
        {
            background: lightgray;
        }

        /*-------------------------------*/
        #users
        {
            /* overflow-y: scroll; */
            /* background-color: lightgrey; */
            /* width: 80%;           */
            /* margin-top: 10px;
            padding: 10px; */
            background-color:white;
            /* box-shadow: 0 0 5px 0 grey; */
        }

        #messages
        {
            /* width: 80%; */
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 1fr auto;
            background-color: lightgrey;
           
            grid-area: messages;
            /* box-shadow: 0 0 5px 0 grey; */
        }
        #all-messages
        {
            background-color: white;          
            overflow: auto;
            padding: 10px;
           
        }
        #message-input
        {
            resize: none; 
            
            width: 80%;
            padding-left:12pt;
            font-size:12pt;
            border: 1px solid grey;
        }

        #input-container
        {
            display: flex;
            padding: 5px;                
        }
        #input-container > *
        {
            margin: 5px;
            height: 25px;
        }
        /*-------------------------------*/
        
        #home
        {
            background-color: rgb(240, 240, 240);
            padding: 20px;
            margin-left: 20px;
            justify-items: stretch;
            display: grid;
            grid-template-areas:
            " users calls  messages" 
            "mixer whiteboard  messages";
           
            
            overflow: hidden;
            grid-template-columns:  200px 1fr 400px ;
           grid-template-rows: 50vh 300px;
           min-width: 650px;
            gap: 10px;
        }

        #mixer
        {
            grid-area: mixer;
            display: grid;
            grid-template-areas:
            "label1 label2"
            "mixer1 mixer2";
            grid-template-columns: auto 1fr;
            grid-template-rows: auto 1fr; 
            gap: 5px;                                  
        }
        .mixer-board
        {
            overflow-x: scroll;
            overflow-y: hidden;
            background-color: grey;
            display: flex;
        }
        #output-mixer
        {
            grid-area: mixer1;
        }
        #input-mixer
        {
            grid-area: mixer2;
        }
        #output-mixer-label
        {
            grid-area: label1;
            color: grey;
        }
        #input-mixer-label
        {
            grid-area: label2;
            color: grey;
            text-align: center;
        }

        #whiteboard
        {
            grid-area: whiteboard;
            position: relative;
            overflow-x: auto;
            overflow-y: hidden;
           
        }
        @media (max-width: 800px) {
            #home
            {
                grid-template-areas:
                " calls calls messages" 
                " users mixer mixer ";
            
                height: 100%;
                grid-template-columns:  auto auto auto ;
                grid-template-rows: 2fr 1fr;
            }
            #whiteboard
            {
                display: none;
            }
            
        }
        #whiteboard>canvas
        {
            background-color: white;
 
            cursor: crosshair;
        }
        .container > *
        {
            margin: 20px;
        }

        .page
        {
           position: absolute;
           margin: 0;
           width: 100%;
        }

        .tab
        {
            position: absolute;
            visibility: hidden;
        }

        
        #users
        {
            grid-area: users;          
        }

        #calls
        {
            grid-area: calls;
            background-color: black;
            position: relative;
        }
        
        .container
        {
            position: absolute;
            width: 95%;
            height: 100%;            
        }

        #settings>div
        {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
        }

        
        