
        @keyframes show
        {
			from 
			{               
				opacity: 0;
			} 
			to 
			{                    
				opacity: 100%;
			}
		}



        header
        {
            height: 70px;
        }
        #user
        {
            float:right;
            padding: 5px;
        }
        .icon
        {
            height: 40px;
            width: 40px;
            margin: 5px;
            vertical-align: middle;
            object-fit: cover;
            border-radius: 50%;
        }
        .dropdown-button
        {
            cursor:pointer;
            padding: 5px;
            background-color: rgba(0,0,0,0);
            user-select: none;
        }
        .button
        {
            cursor:pointer;
            padding: 5px;
            background-color: rgba(0,0,0,0);
            user-select: none;
        }
        .button:hover
        {
            background-color: lightgrey;
        }
        .dropdown-menu
        {
            position: absolute;
            z-index: 1;
            background-color: white;
            border: 1px solid grey;
        }
        .hidden
        {
            visibility: hidden;
        }
        .visible
        {
            visibility:visible;
            animation: show 0.2s;
			animation-timing-function: ease-out;
        }
        

        video
        {
            background: black;
            position: relative;
            width: 100%;
            /* left: 50%; */
            /* transform: translate(-50%);      */
        }


        ul
        {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li
        {
            display: inline;
            cursor: pointer;
            padding:  5px;
        }
        li:hover
        {
            background: lightgray;
        }

        /*-------------------------------*/
        #users
        {
            overflow: hidden;
            background-color: white;
            width: 80%;          
            margin-top: 10px;
            padding: 10px;
        }

        #messages
        {
            width: 80%;
            background-color: white;
            padding: 10px;
        }
        #all-messages
        {
            background-color: lightgrey;
            height: 300px;
            overflow: auto;
        }
        #message-input
        {
            resize: none; 
            height: 40px;
            width: 80%;
            
        }

        #messages > button
        {
            width: 20%;
        }
        /*-------------------------------*/
        
        #main
        {
            background-color: black;
            justify-items: stretch;
            display: grid;
            grid-template-areas: 
            "calls users"
            "calls messages";
            grid-template-columns: 5fr 3fr;
            grid-template-rows: 20% 80%;
            gap: 10px;
            padding-bottom: 40px;
        }
       
        .container > *
        {
            margin: 20px;
        }

        .page
        {
           position: absolute;
           width: 80%;
           left: 50%;
            transform: translate(-50%);
        }

        .tab
        {
            position: absolute;
            visibility: hidden;
        }

        
        #users
        {
            grid-area: users;          
        }

        #calls
        {
            grid-area: calls;
        }
        
        .container
        {
            position: absolute;
            width: 100%;
            
        }

        
        